<div class="wordmark" aria-hidden="true">
<pre class="wordmark__art">  /\___/\
 (  o.o  )
  &gt;  ^  &lt;
 /       \
(  )   (  )</pre>
<pre class="wordmark__art wordmark__art--accent">   ( (  (
    ) )  )
  .--------.
  |        |--.
  |        |  |
  |        |--'
  '========'</pre>
<pre class="wordmark__art">    .-~~~-.
   (       )
  (  o   o  )
   '~--^--~'
      | |
     _| |_
    [_____]</pre>
<pre class="wordmark__art">     _____
   .'     '.
  /  o   o  \
 |     ^     |
  \  \___/  /
   '.     .'
     '---'</pre>
</div>
